<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Editing Article</h1>

      <%= render 'form', article: @article %>

      <%= link_to 'Back', articles_path, class:"btn btn-secondary"  %>
    </div>
  </div>
</div>
